# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 7</font>

## Download: http://github.com/dsacademybr

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.8

## Missão: Analisar o Comportamento de Compra de Consumidores.

## Nível de Dificuldade: Alto

Você recebeu a tarefa de analisar os dados de compras de um web site! Os dados estão no formato JSON e disponíveis junto com este notebook.

No site, cada usuário efetua login usando sua conta pessoal e pode adquirir produtos à medida que navega pela lista de produtos oferecidos. Cada produto possui um valor de venda. Dados de idade e sexo de cada usuário foram coletados e estão fornecidos no arquivo JSON.

Seu trabalho é entregar uma análise de comportamento de compra dos consumidores. Esse é um tipo de atividade comum realizado por Cientistas de Dados e o resultado deste trabalho pode ser usado, por exemplo, para alimentar um modelo de Machine Learning e fazer previsões sobre comportamentos futuros.

Mas nesta missão você vai analisar o comportamento de compra dos consumidores usando o pacote Pandas da linguagem Python e seu relatório final deve incluir cada um dos seguintes itens:

** Contagem de Consumidores **

* Número total de consumidores


** Análise Geral de Compras **

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total


** Informações Demográficas Por Gênero **

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados


** Análise de Compras Por Gênero **

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária


** Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela): **

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Itens mais populares


** Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra
* Itens mais lucrativos


** Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


** Como considerações finais: **

* Seu script deve funcionar para o conjunto de dados fornecido.
* Você deve usar a Biblioteca Pandas e o Jupyter Notebook.

In [24]:
# Imports
import pandas as pd
import numpy as np

In [25]:
# Carrega o arquivo
load_file = "dados_compras.json"
purchase_file = pd.read_json(load_file, orient = "records")
purchase_file

,Login,Idade,Sexo,Item ID,Nome do Item,Valor
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46
3,Pheusrical25,21,Masculino,92,Final Critic,1.36
4,Aela59,23,Masculino,63,Stormfury Mace,1.27
...,...,...,...,...,...,...
775,Eural50,22,Masculino,98,"Deadline, Voice Of Subtlety",3.62
776,Lirtossa78,14,Masculino,104,Gladiator's Glaive,1.36
777,Tillyrin30,20,Masculino,117,"Heartstriker, Legacy of the Light",4.15
778,Quelaton80,20,Masculino,75,Brutality Ivory Warmace,1.72
779,Alim85,23,Feminino,107,"Splitter, Foe Of Subtlety",3.61

## Informações Sobre os Consumidores

In [26]:
# Implemente aqui sua solução
numeroTotalConsumidores = pd.DataFrame({'Número total de consumidores': [len(purchase_file.groupby('Login'))]})
numeroTotalConsumidores

   Número total de consumidores
0                           573

## Análise Geral de Compras

In [27]:
# Implemente aqui sua solução
purchase_file["Nome do Item"] = purchase_file["Nome do Item"].str.lower()
contItensExclusivos = len(purchase_file['Item ID'].unique())
mediaPrecoCompra = purchase_file["Valor"].mean()
numeroTotalCompras = len(purchase_file)
rendimentoTotal = purchase_file["Valor"].sum()
analiseGeralCompras = pd.DataFrame({ \
                                    'Número de itens exclusivos': [contItensExclusivos], \
                                    'Preço médio de compra': [mediaPrecoCompra], \
                                    'Número total de compras': [numeroTotalCompras], \
                                    'Rendimento total': [rendimentoTotal] \
                                   })
analiseGeralCompras

,Número de itens exclusivos,Preço médio de compra,Número total de compras,Rendimento total
0,183,2.931192,780,2286.33

## Análise Demográfica

In [28]:
# Implemente aqui sua solução
novoDataFrame = purchase_file
cont = novoDataFrame['Sexo'].value_counts()
percent = novoDataFrame['Sexo'].value_counts(normalize=True).mul(100).round(2)
analiseDemografica = pd.DataFrame({'Contagem': cont, '%': percent})
analiseDemografica.index.name = 'Gênero'
analiseDemografica

                       Contagem      %
Gênero
Masculino                   633  81.15
Feminino                    136  17.44
Outro / Não Divulgado        11   1.41

## Informações Demográficas Por Gênero

In [29]:
# Implemente aqui sua solução
novoDataFrame = purchase_file
cont = novoDataFrame['Sexo'].value_counts()
percent = novoDataFrame['Sexo'].value_counts(normalize=True).mul(100).round(2)
analiseDemografica = pd.DataFrame({'Contagem': cont, '%': percent})
analiseDemografica.index.name = 'Gênero'
analiseDemografica

                       Contagem      %
Gênero
Masculino                   633  81.15
Feminino                    136  17.44
Outro / Não Divulgado        11   1.41

## Análise de Compras Por Gênero

In [33]:
# Implemente aqui sua solução
numeroCompras = purchase_file['Sexo'].value_counts()
precoMedioCompra = purchase_file.groupby('Sexo')['Valor'].mean()
valorTotalCompra = purchase_file.groupby('Sexo')['Valor'].sum()
analiseComprasGenero = pd.DataFrame({'Quantidade de Compras': numeroCompras, 'Preço Médio de Compra': precoMedioCompra, 'Valor Total de Compra': valorTotalCompra})

baseDF = purchase_file
comprasFaixaEtaria = baseDF.groupby(pd.cut(baseDF["Idade"], np.arange(0, 61, 5))).count().rename(columns = {'Login': 'Quantidade de compras'}, inplace = False).drop(columns=['Sexo', 'Idade','Item ID', 'Valor', 'Nome do Item'])

analiseComprasGenero
# comprasFaixaEtaria

,Quantidade de Compras,Preço Médio de Compra,Valor Total de Compra
Feminino,136,2.815515,382.91
Masculino,633,2.950521,1867.68
Outro / Não Divulgado,11,3.249091,35.74

## Consumidores Mais Populares (Top 5)

In [23]:
# Implemente aqui sua solução
baseDF = purchase_file.groupby(['Login', 'Idade']).count().reset_index().sort_values("Valor", ascending=False).head(5)
numeroCompras = purchase_file['Login'].value_counts()
precoMedioCompra = purchase_file.groupby('Login').mean()['Valor']
valorTotalCompra = purchase_file.groupby('Login').sum()['Valor']

consumidoresMaisPopulares = pd.DataFrame({'Número de compras': numeroCompras, 'Preço Médio de Compra': precoMedioCompra, 'Valor Total de Compra': valorTotalCompra})
consumidoresMaisPopulares = consumidoresMaisPopulares[consumidoresMaisPopulares.index.isin(baseDF['Login'])]
consumidoresMaisPopulares

             Número de compras  Preço Médio de Compra  Valor Total de Compra
Mindimnya67                  4                 3.1850                  12.74
Qarwen67                     4                 2.4925                   9.97
Saedue76                     4                 3.3900                  13.56
Sondastan54                  4                 2.5600                  10.24
Undirrala66                  5                 3.4120                  17.06

## Itens Mais Populares

In [13]:
# Implemente aqui sua solução
mostPopularItemsId = purchase_file['Item ID'].value_counts().sort_values(ascending=False).head(5)
mostPopularItemsDf = purchase_file[purchase_file['Item ID'].isin(mostPopularItemsId.index.values)]

numeroComprasPopulares = mostPopularItemsDf[['Item ID', 'Nome do Item']].value_counts()
precoItemsPopulares = mostPopularItemsDf.drop_duplicates(['Item ID', 'Nome do Item', 'Valor']).reset_index().set_index(['Item ID', 'Nome do Item'])['Valor']
valorTotalCompraPopulares = mostPopularItemsDf.groupby(['Item ID', 'Nome do Item'])['Valor'].sum()

itensMaisPopulares = pd.DataFrame({'Número de Compras': numeroComprasPopulares, 'Preço do Item': precoItemsPopulares,'Valor Total de Compra': valorTotalCompraPopulares})
itensMaisPopulares

,,Número de Compras,Preço do Item,Valor Total de Compra
Item ID,Nome do Item,,,
13,Serenity,9,1.49,13.41
31,Trickster,9,2.07,18.63
39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
84,Arcane Gem,11,2.23,24.53
175,Woeful Adamantite Claymore,9,1.24,11.16

## Itens Mais Lucrativos

In [19]:
# Implemente aqui sua solução
mostProfitableItemsId = purchase_file.groupby('Item ID').sum()['Valor'].sort_values(ascending=False).head(5)
mostProfitableItemsDf = purchase_file[purchase_file['Item ID'].isin(mostProfitableItemsId.index.values)]

numeroComprasLucrativos = mostProfitableItemsDf[['Item ID', 'Nome do Item']].value_counts()
valorTotalCompraLucrativos = mostProfitableItemsDf.groupby(['Item ID', 'Nome do Item'])['Valor'].sum()
precoItemsLucrativos = mostProfitableItemsDf.drop_duplicates(['Item ID', 'Nome do Item', 'Valor']).reset_index().set_index(['Item ID', 'Nome do Item'])['Valor']

itensMaisLucrativos = pd.DataFrame({'Número de Compras': numeroComprasLucrativos, 'Preço do Item': precoItemsLucrativos,'Valor Total de Compra': valorTotalCompraLucrativos})
itensMaisLucrativos

,,Número de Compras,Preço do Item,Valor Total de Compra
Item ID,Nome do Item,,,
32,orenmir,6,4.95,29.70
34,retribution axe,9,4.14,37.26
103,singed scalpel,6,4.87,29.22
107,"splitter, foe of subtlety",8,3.61,28.88
115,spectral diamond doomblade,7,4.25,29.75

## Fim


### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>